.galeria {
 display: grid;
 grid-template-columns: repeat(
  auto-fit, 
  minmax(150px,2fr)
 );
 justify-content: space-evenly;
 align-items: center;
 margin-top: 50px;
 margin-bottom: 50px;
 gap: 10px;
 
  
  
}

.Hed {
  text-align: center;
  margin-top: 20px;
  color: aliceblue;

}

.card{
  text-align: center;
  
  
  
  
    
}
.foot{
  text-align: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin-top: 20px;
  color: aliceblue;
  
}

.body{
  background-color: rgb(12, 1, 1);
}